@import url("https://rsms.me/inter/inter-ui.css");
::selection {
  background: #2d2f36;
}
::-webkit-selection {
  background: #2d2f36;
}
::-moz-selection {
  background: #2d2f36;
}
.page_visa_apply {
  background: rgba(0, 0, 0, 0.15);
  font-family: "Inter UI", sans-serif;
  margin: 0;
  padding: 20px;
  width: 100px;
}
.page_visa_apply {
  background: hsl(240, 5%, 89%);
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: absolute;
  place-content: center;
  width: (100%);
}
@media (max-width: 767px) {
  .page_visa_apply {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container_visa_apply {
  display: flex;
  height: 320px;
  margin: 0 auto;
  margin-top: 1rem !important;
  width: 85%;
}
@media (max-width: 767px) {
  .container_visa_apply {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left_visa_apply {
  background: white;
  height: calc(100% - 25px);
  top: 20px;
  position: relative;
  width: 70%;
}
@media (max-width: 767px) {
  .left_visa_apply {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.visa_apply {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 40px 10px;
}
.eula_visa_apply {
  color: #707070;
  font-size: 14px;
  line-height: 1.5;
  margin: 10px;
  margin-left: 40px;
  border-radius: 0px;
}
.right_visa_apply {
  background: #273da8;
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 60%;
}
@media (max-width: 767px) {
  .right_visa_apply {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

form {
  margin: 40px;
  position: absolute;
}
label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.submit {
  color: blue;
  transition: color 300ms;
  background-color: white;
  border-color: transparent;

  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
  width: 150px;
  height: 50px;
}

.submit:hover {
  color: white;
  transition: border 300ms;
  background-color: #273da8;
  border: 3px solid white;
  /* border-radius: 9px; */
}
.visa__text {
  margin-right: 80px;
  text-align: center;
  display: flex;
  /* flex-direction:row ; */
  justify-content: center;
}

ul.visa__doc {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  color: #707070;
}


.submit_con{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:90px 10px 10px 90px ;
}