@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* 
* {
	box-sizing: border-box;
} */

/* body {
	background-color: #28223F;
	font-family: Montserrat, sans-serif;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	margin: 0;
} */

h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	margin: 100px 360px;
	
	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
	padding-top: 30px;
	position: relative;
	width: 650px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
    height :200px !important;
    width :200px !important;
}

div.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 29px;
	float : left;
	margin-bottom: 20px;
	margin-left: 140px;
}

div.primary.ghost {
	background-color: transparent;
	color: #02899C;
	float : left;
	margin-left: 10px;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 120px;
	
}

.skills dd {
	/* float: left; */
	/* padding : 8px 5px;margin:0; */
	border-bottom: 1px solid;
	background-color: #1F1A36;
	width: 70%;
	margin-left: 150px
}

.skills dt {
	float: left;
	/* padding : 8px 5px; */
	/* margin:0; */
	border-bottom: 1px solid;
	background-color: #1F1A36;
	width: 30%;
	padding-right: 10px;
	font-weight: bold;

}
.back_home{
	background-color: #03BFCB;
	color :#1F1A36;
	padding: 10px 20px; 
	margin-bottom: 20px;
	border: 1px solid #03BFCB;
	border-radius: 3px;
}
.back_home:hover {
	background-color: #1F1A36;
	color :#03BFCB ;
	padding: 10px 20px; 
	margin-bottom: 20px;
	border: 1px solid #03BFCB;
	border-radius: 3px;
}
.back_home:hover a{
	color :#03BFCB !important;
}