.submitted__cotainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 120px 80px;
}

